<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가위 바위 보 게임</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
<h1>가위 바위 보 게임</h1>
<p>선택하세요:</p>
<form action="/play" method="get">
    <button type="submit" name="userChoice" value="rock">바위</button>
    <button type="submit" name="userChoice" value="paper">보</button>
    <button type="submit" name="userChoice" value="scissors">가위</button>
</form>
</body>
</html>
